*.pyc
jq-rally-api/__pycache__
jq-rally-api/config/local_settings.py
JQRally.md
jq-rally-web/node_modules/
jq-rally-db/mysql/
docs/dmp/
diagram
jq-rally-web/jq-rally/.env
jq-rally-api/media/CACHE/images/photos/*
jq-rally-api/media/photos/*
